/* color background */
$bg-global : #ECECEC;

/* color font */
$color-font-global : #222222;

/* color blue site */
$color-blue-site : #2E83CC;

/* color buttons */
// simple
$bg-btn-blue : #2f8ad4;
$bg-btn-blue-hover : #2f9de9;
$border-color-btn-blue : #2E7ACC;
$color-font-btn-blue : #FFFFFF;
