@import "../../_imports-global";

@import "../navbar";

//=========================================================
// animation pulse box shadow input
//=========================================================
@-webkit-keyframes pulse {
    0% { box-shadow: 0 0 8px rgba(63,144,255,0) }
    25% { box-shadow: 0 0 8px rgba(63,144,255,.2) }
    50% { box-shadow: 0 0 8px rgba(63,144,255,.5) }
    75% { box-shadow: 0 0 8px rgba(63,144,255,.8) }
    100% { box-shadow: 0 0 8px rgba(63,144,255,1) }
}
@-moz-keyframes pulse {
    0% { box-shadow: 0 0 8px rgba(63,144,255,0) }
    25% { box-shadow: 0 0 8px rgba(63,144,255,.2) }
    50% { box-shadow: 0 0 8px rgba(63,144,255,.5) }
    75% { box-shadow: 0 0 8px rgba(63,144,255,.8) }
    100% { box-shadow: 0 0 8px rgba(63,144,255,1) }
}
@-o-keyframes pulse {
    0% { box-shadow: 0 0 8px rgba(63,144,255,0) }
    25% { box-shadow: 0 0 8px rgba(63,144,255,.2) }
    50% { box-shadow: 0 0 8px rgba(63,144,255,.5) }
    75% { box-shadow: 0 0 8px rgba(63,144,255,.8) }
    100% { box-shadow: 0 0 8px rgba(63,144,255,1) }
}
@-ms-keyframes pulse {
    0% { box-shadow: 0 0 8px rgba(63,144,255,0) }
    25% { box-shadow: 0 0 8px rgba(63,144,255,.2) }
    50% { box-shadow: 0 0 8px rgba(63,144,255,.5) }
    75% { box-shadow: 0 0 8px rgba(63,144,255,.8) }
    100% { box-shadow: 0 0 8px rgba(63,144,255,1) }
}
@keyframes pulse {
    0% { box-shadow: 0 0 8px rgba(63,144,255,0) }
    25% { box-shadow: 0 0 8px rgba(63,144,255,.2) }
    50% { box-shadow: 0 0 8px rgba(63,144,255,.5) }
    75% { box-shadow: 0 0 8px rgba(63,144,255,.8) }
    100% { box-shadow: 0 0 8px rgba(63,144,255,1) }
}

//=========================================================
// réctification font-size input
//=========================================================
.form-control {
    font-size: 16px;
    font-weight: 400;
}

//=========================================================
// CSS fiches questions écrites
//=========================================================
.fiche-questions-ecrites {
    position: relative;

    & > .page-header {
        margin-bottom: 0;

        & > h1 {
            color: #565656;
            font-weight: bold;
            text-shadow: 1px 1px 0 #FFFFFF;

            & > span {
                color: #3093E0;
                font-size: 34px;
            }
        }
    }

    & > table {
        & > thead > tr > th {
            border-bottom: none;
            font-size: 16px;
            padding: 20px 12px;
        }

        & > tbody > tr > .table-num {
            vertical-align: middle;
            padding: 20px 0px 20px 13px;

            & > span {
                background: #2E83CC;
                @include border-radius(20px);
                color: #FFFFFF;
                display: block;
                font-weight: bold;
                padding: 6px 9px 6px 8px;
                text-align: center;
                font-size: 12px;
            }
        }

        & > tbody > tr > td {
            border: none;
            vertical-align: middle;
            padding: 20px 12px;
            line-height: 1.6;
            color: #4D4D4D;
            font-size: 15px;
            font-weight: bold;
            position: relative;

            & > .table-img-panneau {
                display: block;
                width: 60px;
                height: 68px;
                vertical-align: top;
                float: left;
            }

            & > .default-response {
                display: block;
                padding: 6px 12px;
                width: 100%;
                background: #CFE8FF;
                border: 1px solid #B2C8DB;
                @include border-radius(4px);
                box-shadow: 0 0 0;
                color: #2C73C0;
                font-weight: 600;
                height: 34px;
                line-height: 1.42857;
                margin-top: 15px;
                opacity: .1;

                &:focus {
                    background: #CFE8FF;
                    border: 1px solid #B2C8DB;
                }
            }

            & > input {
                opacity: .2;

                &.pulse {
                    -webkit-animation: pulse 1.4s 6 alternate; /* Safari 4+ */
                    -moz-animation:    pulse 1.4s 6 alternate; /* Fx 5+ */
                    -o-animation:      pulse 1.4s 6 alternate; /* Opera 12+ */
                    animation:         pulse 1.4s 6 alternate; /* IE 10+ */
                }
            }

            & > .op-default {
                opacity: 1;
            }

            & > .input-disabled:focus {
                box-shadow: none;
                border: 1px solid #CCCCCC;
            }

            & > .bg-error {
                background: #ffe3e3;
                border: 1px solid #FDC2C2;
                box-shadow: 0 0 0;
                opacity: 1;
            }

            & > .bg-success {
                background: #CFFFD6;
                border: 1px solid #AFF3C8;
                box-shadow: 0 0 0;
                opacity: 1;
            }
        }

        & tbody > tr:nth-child(odd) > td {
            background-color: #ECF2F8;
        }
    }
}

/* table-response > span#score*/
#score {
    padding: 40px 0;
    font-size: 14px;
}
#score > span {
    background: none repeat scroll 0 0 #E75F5F;
    color: #FFFFFF;
    display: inline-block;
    margin-right: 10px;
    padding: 4px 0;
    border: 1px solid #CBCFE0;
    width: 47px;
    text-align: center;

    &.num {
        width: 168px;

        & > b {
            color: #D2D2D2;
            display: inline-block;
            text-align: center;
            width: 70px;
        }
    }

    &:first-child {
        background: none repeat scroll 0 0 #51B856;
    }

    &:last-child {
        background: none repeat scroll 0 0 #3488D6;
    }
}


/* Button de la page questions écrites */
/* button voir réponses, home et next */
.btn-page-q-e {
    @include btn-blue();
    display: inline-block;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 1px solid #CBCFE0;
}

// temps
.time-top-q-e {
    height: 28px;
    position: absolute;
    right: 0;
    top: 71px;
    width: 150px;
//    background: red;
    & > p {

        & > span {
            &:first-child {
                color: #96BFEB;
                font-weight: bold;
            }
//            &.time-q-e {
//
//            }
        }
    }
}
.time-bottom-q-e {
    height: 28px;
    position: absolute;
    right: 0;
    bottom: -15px;
    width: 150px;
//    background: red;
    & > p {

        & > span {
            &:first-child {
                color: #96BFEB;
                font-weight: bold;
            }
            &.time-q-e {

            }
        }
    }
}

